:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

.container {
  	max-width: 1050px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

h1 {
	margin: 30px 0 10px;
	text-align: center;
}

h2 {
	margin: 50px 0;
	font-weight: 900;
	font-size: 5rem;
	text-align: center;
}

.pencil-toggle-container {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.pencil-toggle {
	cursor: pointer;
}
.pencil-toggle svg {
	width: 30px;
	height: 30px;
}

.pencil-toggle:hover svg, .pencil-toggle.enabled svg {
	fill: rgb(95, 185, 255);
}

.difficulty-selector {
	display: flex;
	justify-content: center;
	gap: 15px;
	margin-top: 15px;	
	margin-bottom: 15px;	
}

#board {
	margin: 40px auto 20px;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 2px;
	border-radius: 8px;
	overflow: hidden;
	/* width: 298px!important */
	width: 406px!important
}

.box {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 1px;
}

.cell {
	box-sizing: border-box;
	background-color: #fff;
	color: black;
	/* width: 32px;
	height: 32px; */
	width: 44px;
	height: 44px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 5px;
	/* border-radius: 3px; */
	overflow: hidden;
}

.cell p {
	color: black;
	font-weight: 900;
	pointer-events: none;
	margin: 0;
}

.cell[data-is-checked="1"] {
	background-color: white;
}

.cell[data-is-preloaded="1"] {
	background-color: rgb(202, 202, 255);
}

.cell::after {
	content: '';
}

.cell.selected::after {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	border: 3px solid rgba(47, 151, 61, 0.9);
}

.cell.error p {
	color: red;
}

.cell.error::before {
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: rgba(210, 25, 4, .8);
	border: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	top: unset;
	left: unset;
	margin: 0 3px 3px 0;
}

.cell small.number {
	font-weight: 700;
	font-size: 12px;
	line-height: 9px;
}

/* #app.sudoku .cell:nth-child(3n) {
	border-right-width: 3px;
} */